In [ ]:
!pip3 install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.70)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.8.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)

In [ ]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
plt.style.use("fivethirtyeight")
%matplotlib inline

# For reading stock data from yahoo
from pandas_datareader.data import DataReader
import yfinance as yf

# For time stamps
from datetime import datetime

In [ ]:
# The tech stocks we'll use for this analysis
# tech_list = ['AAPL', 'GOOG', 'MSFT', 'AMZN']
tech_list = ['TSLA']

end = datetime.now()
end = datetime(end.year, end.month - 1, end.day)
start = datetime(end.year - 1, end.month, end.day)

for stock in tech_list:
    globals()[stock] = yf.download(stock, start, end)

[*********************100%***********************]  1 of 1 completed

In [ ]:
# company_list = [AAPL, GOOG, MSFT, AMZN]
# company_name = ["APPLE", "GOOGLE", "MICROSOFT", "AMAZON"]
company_list = [TSLA]
company_name = ["TESLA"]
for company, com_name in zip(company_list, company_name):
    company["company_name"] = com_name
    
df = pd.concat(company_list, axis=0)
df.tail(10)

,Open,High,Low,Close,Adj Close,Volume,company_name
Date,,,,,,,
2022-03-28,1065.099976,1097.880005,1053.599976,1091.839966,1091.839966,34168700,TESLA
2022-03-29,1107.989990,1114.770020,1073.109985,1099.569946,1099.569946,24538300,TESLA
2022-03-30,1091.170044,1113.949951,1084.000000,1093.989990,1093.989990,19955000,TESLA
2022-03-31,1094.569946,1103.140015,1076.640015,1077.599976,1077.599976,16330900,TESLA
2022-04-01,1081.150024,1094.750000,1066.640015,1084.589966,1084.589966,18012900,TESLA
2022-04-04,1089.380005,1149.910034,1072.530029,1145.449951,1145.449951,27345300,TESLA
2022-04-05,1136.300049,1152.869995,1087.300049,1091.260010,1091.260010,26691700,TESLA
2022-04-06,1073.469971,1079.000000,1027.699951,1045.760010,1045.760010,29782800,TESLA
2022-04-07,1052.390015,1076.589966,1021.539978,1057.260010,1057.260010,26482400,TESLA
2022-04-08,1043.209961,1048.439941,1022.440002,1025.489990,1025.489990,18293300,TESLA

In [ ]:
# ma_day = [10, 20, 50] #stock price moving average peroid

# for ma in ma_day:
#     for company in company_list:
#         column_name = f"MA for {ma} days"
#         company[column_name] = company['Adj Close'].rolling(ma).mean()

In [ ]:
# # We'll use pct_change to find the percent change for each day
# for company in company_list:
#     company['Daily Return'] = company['Adj Close'].pct_change()

In [ ]:
from pandas_datareader import data as pdr
yf.pdr_override()
#closing stock price
closing_df = pdr.get_data_yahoo(tech_list, start=start,end=end)['Adj Close']


# Make a new tech returns DataFrame
tech_rets = closing_df.pct_change()
rets = tech_rets.dropna()

[*********************100%***********************]  1 of 1 completed

In [ ]:
# Get the stock quote
closing_df = pdr.get_data_yahoo(tech_list, start=start,end=end)['Adj Close']

[*********************100%***********************]  1 of 1 completed

In [32]:
# Create a new dataframe with only the 'Close column 
data = df.filter(['Close'])
# Convert the dataframe to a numpy array
dataset = data.values
# Get the number of rows to train the model on
training_data_len = int(np.ceil( len(dataset) * .9 )) #get 95% of the data to train

training_data_len

229

In [33]:
# Scale the data
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0,1))#MinMaxScaler最小最大值標準化
scaled_data = scaler.fit_transform(dataset)

In [36]:
# Create the training data set 
# Create the scaled training data set
train_data = scaled_data[0:int(training_data_len), :]
# Split the data into x_train and y_train data sets
x_train = []
y_train = []

for i in range(60, len(train_data)):
    x_train.append(train_data[i-60:i, 0])
    y_train.append(train_data[i, 0])
    if i<= 61:
        print(x_train)
        print(y_train)
        print()
        
# Convert the x_train and y_train to numpy arrays 
x_train, y_train = np.array(x_train), np.array(y_train)

# Reshape the data
x_train = np.reshape(x_train, (x_train.shape[0], x_train.shape[1], 1))

[array([0.17039537, 0.20784748, 0.29838695, 0.25323724, 0.26317046,
       0.26456599, 0.22682869, 0.23337079, 0.27107806, 0.23442115,
       0.24899092, 0.26219519, 0.21198884, 0.19647385, 0.17036533,
       0.21904116, 0.18221922, 0.16526364, 0.16127238, 0.15016874,
       0.16341807, 0.09840191, 0.08063619, 0.03965788, 0.01234898,
       0.03943277, 0.02006151, 0.02162199, 0.        , 0.03499138,
       0.02613847, 0.06449093, 0.06186508, 0.08353212, 0.10111779,
       0.09267004, 0.09068948, 0.06251027, 0.01407458, 0.0534023 ,
       0.06252529, 0.06021458, 0.05299723, 0.07001271, 0.06966763,
       0.08137141, 0.05386745, 0.06213515, 0.07973584, 0.08980415,
       0.08608297, 0.09040438, 0.13971038, 0.17459672, 0.16266782,
       0.187951  , 0.17600718, 0.17441667, 0.17174576, 0.1732163 ])]
[0.14422686376563232]

[array([0.17039537, 0.20784748, 0.29838695, 0.25323724, 0.26317046,
       0.26456599, 0.22682869, 0.23337079, 0.27107806, 0.23442115,
       0.24899092, 0.26219519, 0.21198884, 0.19647385, 0.17036533,
       0.21904116, 0.18221922, 0.16526364, 0.16127238, 0.15016874,
       0.16341807, 0.09840191, 0.08063619, 0.03965788, 0.01234898,
       0.03943277, 0.02006151, 0.02162199, 0.        , 0.03499138,
       0.02613847, 0.06449093, 0.06186508, 0.08353212, 0.10111779,
       0.09267004, 0.09068948, 0.06251027, 0.01407458, 0.0534023 ,
       0.06252529, 0.06021458, 0.05299723, 0.07001271, 0.06966763,
       0.08137141, 0.05386745, 0.06213515, 0.07973584, 0.08980415,
       0.08608297, 0.09040438, 0.13971038, 0.17459672, 0.16266782,
       0.187951  , 0.17600718, 0.17441667, 0.17174576, 0.1732163 ]), array([0.20784748, 0.29838695, 0.25323724, 0.26317046, 0.26456599,
       0.22682869, 0.23337079, 0.27107806, 0.23442115, 0.24899092,
       0.26219519, 0.21198884, 0.19647385, 0.17036533, 0.21904116,
       0.18221922, 0.16526364, 0.16127238, 0.15016874, 0.16341807,
       0.09840191, 0.08063619, 0.03965788, 0.01234898, 0.03943277,
       0.02006151, 0.02162199, 0.        , 0.03499138, 0.02613847,
       0.06449093, 0.06186508, 0.08353212, 0.10111779, 0.09267004,
       0.09068948, 0.06251027, 0.01407458, 0.0534023 , 0.06252529,
       0.06021458, 0.05299723, 0.07001271, 0.06966763, 0.08137141,
       0.05386745, 0.06213515, 0.07973584, 0.08980415, 0.08608297,
       0.09040438, 0.13971038, 0.17459672, 0.16266782, 0.187951  ,
       0.17600718, 0.17441667, 0.17174576, 0.1732163 , 0.14422686])]
[0.14422686376563232, 0.12182459442462246]

In [37]:
from keras.models import Sequential
from keras.layers import Dense, LSTM

# Build the LSTM model
model = Sequential()
model.add(LSTM(128, return_sequences=True, input_shape= (x_train.shape[1], 1)))
model.add(LSTM(64, return_sequences=False))
model.add(Dense(25))
model.add(Dense(1))

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

# Train the model
model.fit(x_train, y_train, batch_size=1, epochs=1)

169/169 [==============================] - 10s 46ms/step - loss: 0.0202

In [38]:
# Create the testing data set
# Create a new array containing scaled values from index 1543 to 2002 
test_data = scaled_data[training_data_len - 60: , :]
# Create the data sets x_test and y_test
x_test = []
y_test = dataset[training_data_len:, :]
for i in range(60, len(test_data)):
    x_test.append(test_data[i-60:i, 0])
    
# Convert the data to a numpy array
x_test = np.array(x_test)

# Reshape the data
x_test = np.reshape(x_test, (x_test.shape[0], x_test.shape[1], 1 ))

# Get the models predicted price values 
predictions = model.predict(x_test)
predictions = scaler.inverse_transform(predictions)

# Get the root mean squared error (RMSE)
rmse = np.sqrt(np.mean(((predictions - y_test) ** 2)))
rmse

79.03969680431031

In [39]:
# Plot the data
data = df.filter(['Close'])
train = data[:training_data_len]
valid = data[training_data_len:]
valid['Predictions'] = predictions
valid

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

                  Close  Predictions
Date
2022-03-07   804.580017   875.380005
2022-03-08   824.400024   872.351746
2022-03-09   858.969971   869.306091
2022-03-10   838.299988   869.062012
2022-03-11   795.349976   868.756409
2022-03-14   766.369995   865.249207
2022-03-15   801.890015   858.196716
2022-03-16   840.229980   852.536194
2022-03-17   871.599976   850.968994
2022-03-18   905.390015   854.106018
2022-03-21   921.159973   862.029785
2022-03-22   993.979980   872.944519
2022-03-23   999.109985   889.900330
2022-03-24  1013.919983   908.728271
2022-03-25  1010.640015   927.802917
2022-03-28  1091.839966   944.793335
2022-03-29  1099.569946   965.162354
2022-03-30  1093.989990   985.687561
2022-03-31  1077.599976  1003.803650
2022-04-01  1084.589966  1017.589050
2022-04-04  1145.449951  1028.314697
2022-04-05  1091.260010  1041.038452
2022-04-06  1045.760010  1049.255493
2022-04-07  1057.260010  1051.102539
2022-04-08  1025.489990  1050.549438

In [40]:
#predict today's stock price
x_train=[]
x_train.append(scaled_data[len(scaled_data)-60:len(scaled_data), :])
x_train = np.array(x_train)
x_train=np.reshape(x_train, (x_train.shape[0], x_train.shape[1], 1 ))

predictions_t = model.predict(x_train)
predictions_t = scaler.inverse_transform(predictions_t)
print(predictions_t)

[[1046.4283]]