In [ ]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.70)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.8.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)

In [ ]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
plt.style.use("fivethirtyeight")
%matplotlib inline

# For reading stock data from yahoo
from pandas_datareader.data import DataReader
import yfinance as yf

# For time stamps
from datetime import datetime

In [ ]:
# The tech stocks we'll use for this analysis
# tech_list = ['AAPL', 'GOOG', 'MSFT', 'AMZN']
tech_list = ['TSLA']

# end = datetime.now()
end = datetime(2022, 1,31)
start = datetime(end.year - 2, end.month, end.day)

for stock in tech_list:
    globals()[stock] = yf.download(stock, start, end)

[*********************100%***********************]  1 of 1 completed

In [ ]:
# company_list = [AAPL, GOOG, MSFT, AMZN]
# company_name = ["APPLE", "GOOGLE", "MICROSOFT", "AMAZON"]
company_list = [TSLA]
company_name = ["TESLA"]
for company, com_name in zip(company_list, company_name):
    company["company_name"] = com_name
    
df = pd.concat(company_list, axis=0)
df.tail(10)

,Open,High,Low,Close,Adj Close,Volume,company_name
Date,,,,,,,
2022-01-14,1019.880005,1052.000000,1013.380005,1049.609985,1049.609985,24308100,TESLA
2022-01-18,1026.609985,1070.790039,1016.059998,1030.510010,1030.510010,22247800,TESLA
2022-01-19,1041.709961,1054.670044,995.000000,995.650024,995.650024,25147500,TESLA
2022-01-20,1009.729980,1041.660034,994.000000,996.270020,996.270020,23496200,TESLA
2022-01-21,996.340027,1004.549988,940.500000,943.900024,943.900024,34472000,TESLA
2022-01-24,904.760010,933.510010,851.469971,930.000000,930.000000,50521900,TESLA
2022-01-25,914.200012,951.260010,903.210022,918.400024,918.400024,28865300,TESLA
2022-01-26,952.429993,987.690002,906.000000,937.409973,937.409973,34955800,TESLA
2022-01-27,933.359985,935.390015,829.000000,829.099976,829.099976,49036500,TESLA
2022-01-28,831.559998,857.500000,792.010010,846.349976,846.349976,44929700,TESLA

In [ ]:
# ma_day = [10, 20, 50] #stock price moving average peroid

# for ma in ma_day:
#     for company in company_list:
#         column_name = f"MA for {ma} days"
#         company[column_name] = company['Adj Close'].rolling(ma).mean()

In [ ]:
# # We'll use pct_change to find the percent change for each day
# for company in company_list:
#     company['Daily Return'] = company['Adj Close'].pct_change()

In [ ]:
from pandas_datareader import data as pdr
yf.pdr_override()
#closing stock price
closing_df = pdr.get_data_yahoo(tech_list, start=start,end=end)['Adj Close']


# Make a new tech returns DataFrame
tech_rets = closing_df.pct_change()
rets = tech_rets.dropna()

[*********************100%***********************]  1 of 1 completed

In [ ]:
# Get the stock quote
closing_df = pdr.get_data_yahoo(tech_list, start=start,end=end)['Adj Close']

[*********************100%***********************]  1 of 1 completed

In [ ]:
# Create a new dataframe with only the 'Close column 
#!!!!!
data = df.filter(["Open",	"High",	"Low",	"Close",	"Adj Close",	"Volume"])
data_close=df.filter(['Close'])
# Convert the dataframe to a numpy array
dataset = data.values
# Get the number of rows to train the model on
training_data_len = int(np.ceil( len(dataset) * .95 )) #get 90% of the data to train
training_data_len

479

In [ ]:
# Scale the data
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0,1)) #MinMaxScaler最小最大值標準化
scaled_data = scaler.fit_transform(dataset)
scaler_close = MinMaxScaler(feature_range=(0,1)) #MinMaxScaler最小最大值標準化
scaled_data_close = scaler_close.fit_transform(data_close)

In [ ]:
# Create the training data set 
# Create the scaled training data set
train_data = scaled_data[0:int(training_data_len), :]
# Split the data into x_train and y_train data sets
x_train = []
y_train = []
#!!!!可以改window size
#!!!!改成60*6
for i in range(60, len(train_data)):
    x_train.append(train_data[i-60:i, :])
    y_train.append(train_data[i, 3])
       
# Convert the x_train and y_train to numpy arrays 
x_train, y_train = np.array(x_train), np.array(y_train)

# Reshape the data
x_train = np.reshape(x_train, (x_train.shape[0], x_train.shape[1], 6))

In [ ]:
from keras.models import Sequential
from keras.layers import Dense, LSTM
#!!!!改layer
# Build the LSTM model
model = Sequential()
model.add(LSTM(128, return_sequences=True, input_shape= (x_train.shape[1], 6)))
model.add(LSTM(64, return_sequences=False))
model.add(Dense(25))
model.add(Dense(1))

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

# Train the model
model.fit(x_train, y_train, batch_size=1, epochs=1)

419/419 [==============================] - 17s 34ms/step - loss: 0.0047

In [ ]:
# Create the testing data set
# Create a new array containing scaled values from index 1543 to 2002 
test_data = scaled_data[training_data_len - 60: , :]
# Create the data sets x_test and y_test
x_test = []
y_test = dataset[training_data_len:,3]
for i in range(60, len(test_data)):
    x_test.append(test_data[i-60:i, :])
    
# Convert the data to a numpy array
x_test = np.array(x_test)

# Reshape the data
x_test = np.reshape(x_test, (x_test.shape[0], x_test.shape[1], 6 ))

# Get the models predicted price values 
predictions = model.predict(x_test)
predictions = scaler_close.inverse_transform(predictions)
#改用MAPE看看
# Get the root mean squared error (RMSE)
rmse = np.sqrt(np.mean(((predictions - y_test) ** 2)))
rmse

117.14409561740341

In [ ]:
# Plot the data
data = df.filter(['Close'])
train = data[:training_data_len]
valid = data[training_data_len:]
predictions
valid['Predictions'] = predictions
valid

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                  Close  Predictions
Date
2021-12-23  1067.000000   878.943909
2021-12-27  1093.939941   893.955078
2021-12-28  1088.469971   918.425232
2021-12-29  1086.189941   944.369507
2021-12-30  1070.339966   966.386780
2021-12-31  1056.780029   981.468994
2022-01-03  1199.780029   990.496643
2022-01-04  1149.589966  1012.021362
2022-01-05  1088.119995  1032.092163
2022-01-06  1064.699951  1041.783325
2022-01-07  1026.959961  1038.652832
2022-01-10  1058.119995  1027.747192
2022-01-11  1064.400024  1013.331238
2022-01-12  1106.219971  1002.493958
2022-01-13  1031.560059   999.741638
2022-01-14  1049.609985   995.850037
2022-01-18  1030.510010   988.781921
2022-01-19   995.650024   981.411316
2022-01-20   996.270020   972.228333
2022-01-21   943.900024   962.528198
2022-01-24   930.000000   948.273071
2022-01-25   918.400024   926.971436
2022-01-26   937.409973   906.596863
2022-01-27   829.099976   892.823486
2022-01-28   846.349976   873.456299

In [ ]:
import random
from sklearn import metrics
print( valid['Close'][1])
ud_valid=[]
ud_Prediction=[]
for i in range(1,len(valid)):
  if valid['Close'][i]>valid['Close'][i-1]:
    ud_valid.append(1)
  elif valid['Close'][i]<valid['Close'][i-1]:
    ud_valid.append(-1)
  else:
    ud_valid.append(0)
for i in range(1,len(valid)):
  if valid['Predictions'][i]>valid['Predictions'][i-1]:
    ud_Prediction.append(1)
  elif valid['Predictions'][i]<valid['Predictions'][i-1]:
    ud_Prediction.append(-1)
  else:
    ud_Prediction.append(0)
print(ud_Prediction)
print(ud_valid)

cf_matrix = metrics.confusion_matrix(ud_valid, ud_Prediction)
print(cf_matrix)

1093.93994140625
[1, 1, 1, 1, 1, 1, 1, 1, 1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1]
[1, -1, -1, -1, -1, 1, -1, -1, -1, -1, 1, 1, 1, -1, 1, -1, -1, 1, -1, -1, -1, 1, -1, 1]
[[8 7]
 [7 2]]

In [ ]:
#predict today's stock price
x_train=[]
x_train.append(scaled_data[len(scaled_data)-60:len(scaled_data), :])
x_train = np.array(x_train)
x_train=np.reshape(x_train, (x_train.shape[0], x_train.shape[1], 6 ))

predictions_t = model.predict(x_train)
predictions_t = scaler_close.inverse_transform(predictions_t)
print(predictions_t)

[[849.84094]]

In [ ]:
!pip install optuna

Collecting optuna
  Downloading optuna-2.10.0-py3-none-any.whl (308 kB)
     |████████████████████████████████| 308 kB 4.1 MB/s
Requirement already satisfied: sqlalchemy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (1.4.36)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from optuna) (1.21.6)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from optuna) (4.64.0)
Collecting cmaes>=0.8.2
  Downloading cmaes-0.8.2-py3-none-any.whl (15 kB)
Requirement already satisfied: scipy!=1.4.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (1.4.1)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from optuna) (3.13)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (21.3)
Collecting alembic
  Downloading alembic-1.7.7-py3-none-any.whl (210 kB)
     |████████████████████████████████| 210 kB 56.5 MB/s
Collecting cliff
  Downloading cliff-3.10.1-py3-none-any.whl (81 kB)
     |████████████████████████████████| 81 kB 8.8 MB/s
Collecting colorlog
  Downloading colorlog-6.6.0-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->optuna) (3.0.8)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.1.0->optuna) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.1.0->optuna) (4.11.3)
Collecting Mako
  Downloading Mako-1.2.0-py3-none-any.whl (78 kB)
     |████████████████████████████████| 78 kB 6.9 MB/s
Requirement already satisfied: importlib-resources in /usr/local/lib/python3.7/dist-packages (from alembic->optuna) (5.7.1)
Collecting stevedore>=2.0.1
  Downloading stevedore-3.5.0-py3-none-any.whl (49 kB)
     |████████████████████████████████| 49 kB 5.9 MB/s
Collecting autopage>=0.4.0
  Downloading autopage-0.5.0-py3-none-any.whl (29 kB)
Requirement already satisfied: PrettyTable>=0.7.2 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna) (3.2.0)
Collecting cmd2>=1.0.0
  Downloading cmd2-2.4.1-py3-none-any.whl (146 kB)
     |████████████████████████████████| 146 kB 66.1 MB/s
Collecting pbr!=2.1.0,>=2.0.0
  Downloading pbr-5.9.0-py2.py3-none-any.whl (112 kB)
     |████████████████████████████████| 112 kB 58.1 MB/s
Requirement already satisfied: wcwidth>=0.1.7 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (0.2.5)
Collecting pyperclip>=1.6
  Downloading pyperclip-1.8.2.tar.gz (20 kB)
Requirement already satisfied: attrs>=16.3.0 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (21.4.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (4.2.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=1.1.0->optuna) (3.8.0)
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.7/dist-packages (from Mako->alembic->optuna) (2.0.1)
Building wheels for collected packages: pyperclip
  Building wheel for pyperclip (setup.py) ... done
  Created wheel for pyperclip: filename=pyperclip-1.8.2-py3-none-any.whl size=11137 sha256=44a4aff64ba57e4349b99bd2d005446ff4cd0de60bbd0fab86010f328e7f5538
  Stored in directory: /root/.cache/pip/wheels/9f/18/84/8f69f8b08169c7bae2dde6bd7daf0c19fca8c8e500ee620a28
Successfully built pyperclip
Installing collected packages: pyperclip, pbr, stevedore, Mako, cmd2, autopage, colorlog, cmaes, cliff, alembic, optuna
Successfully installed Mako-1.2.0 alembic-1.7.7 autopage-0.5.0 cliff-3.10.1 cmaes-0.8.2 cmd2-2.4.1 colorlog-6.6.0 optuna-2.10.0 pbr-5.9.0 pyperclip-1.8.2 stevedore-3.5.0

In [ ]:
import optuna
import xgboost as xgb
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

def objective(trial, X=X, y=y):
    """
    A function to train a model using different hyperparamerters combinations provided by Optuna.
    """
    X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.4)

    params = {
        'max_depth': trial.suggest_int('max_depth', 6, 15),
        "subsample": trial.suggest_float("subsample", 0.2, 1.0),
        'n_estimators': trial.suggest_int('n_estimators', 500, 2000, 100),
        'eta': trial.suggest_float("eta", 1e-8, 1.0, log=True),
        'alpha': trial.suggest_float('alpha', 1e-8, 1.0, log=True),
        'lambda': trial.suggest_float('lambda', 1e-8, 1.0, log=True),
        'gamma': trial.suggest_float("gamma", 1e-8, 1.0, log=True),
        'min_child_weight': trial.suggest_int('min_child_weight', 2, 10),
        'grow_policy': trial.suggest_categorical("grow_policy", ["depthwise", "lossguide"]),
        "colsample_bytree": trial.suggest_float("colsample_bytree", 0.2, 1.0)
    }

    reg = xgb.XGBRegressor(**params)
    reg.fit(X_train, y_train,
            eval_set=[(X_valid, y_valid)], eval_metric='rmse',
            verbose=False)
    return mean_squared_error(y_valid, reg.predict(X_valid), squared=False)

In [ ]:
%%time
# Creating Optuna object and defining its parameters
study = optuna.create_study(direction='minimize')
study.optimize(objective, n_trials = 10)

# Showing optimization results
print('Number of finished trials:', len(study.trials))
print('Best trial parameters:', study.best_trial.params)
print('Best score:', study.best_value)